{% extends 'base.html.twig' %}

{% block title %}Liste des figures
{% endblock %}

{% block body %}

	<!-- En-tête avec image de fond -->
	<header
		class="hero-header text-center d-flex flex-column justify-content-center align-items-center">
		<!-- On passe ici le titre en H2 au lieu de H1 -->
		<h2 class="display-4 fw-bold">Bienvenue sur SnowTricks</h2>
		<p class="lead">Découvrez les plus belles figures de snowboard</p>

		<!-- Bouton pour descendre vers la liste -->
		<button id="scrollDownButton" class="btn btn-neutral mt-3" title="Aller vers la liste des figures">
			Voir la liste
		</button>
	</header>

	<div class="container my-4 intro-section">
		<div class="p-4 bg-light rounded shadow-lg text-center">
			<h2 class="mb-3">Présentation</h2>
			<p class="fs-5 text-muted">
				Sur SnowTricks, explorez, apprenez et partagez les figures emblématiques du snowboard.
																																												            Que vous soyez débutant ou rider confirmé, notre communauté est là pour vous inspirer
																																												            et échanger conseils et astuces. Rejoignez-nous !
			</p>
		</div>
	</div>

	<!-- Section des figures -->
	<section class="container my-5 pt-5 mb-5">
		<div id="figures-list" class="d-flex justify-content-between align-items-center mb-4">
			<div class="container my-5">
				<div
					class="p-4 bg-white rounded shadow-lg text-center">
					<!-- Ici, on garde le h1 pour la page -->
					<h1 class="display-4">Figures de Snowboard</h1>
					<p class="text-muted fs-5">
						Retrouvez ici l’essentiel des figures pour les passionnés et les curieux.
					</p>
					<hr class="mx-auto hr-deco">
				</div>
			</div>
		</div>

		<div id="figures-container" class="row">

			{% include 'partials/_figures_partial.html.twig' with { figures: figures } %}
			{% if figures is empty %}
				<div class="col-12 text-center">
					<p class="text-muted">Aucune figure n'est disponible pour le moment.</p>
				</div>
			{% endif %}
			{% if is_granted('ROLE_USER') %}
				<div class="col-lg-4 col-md-6 col-sm-12 mb-4 d-flex">
					<div class="card shadow-lg w-100 text-center card-bg-blur" data-bs-toggle="modal" data-bs-target="#createFigureModal" style="height: 100%;">
						<div class="card-body d-flex align-items-center justify-content-center">
							<i class="fa-regular fa-square-plus fa-3x" style="color: #ffffff;"></i>
						</div>
					</div>
				</div>
			{% endif %}
		</div>

		{% if figures|length >= 15 %}
			<div class="text-center my-4">
				<button id="load-more" class="btn btn-neutral" data-offset="15">
					Load more
				</button>
			</div>
		{% endif %}

	</section>

	<!-- Modale pour la création d'une figure -->
	<div class="modal fade" id="createFigureModal" tabindex="-1" aria-labelledby="createFigureModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content text-center shadow-lg">
				<div class="modal-header">
					<h5 class="modal-title text-uppercase">Créer une nouvelle figure</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body">
					{% include "partials/_create_figure_form.html.twig" %}
				</div>
			</div>
		</div>
	</div>


	<!-- Bouton retour en haut -->
	<button id="scrollUpButton" class="btn btn-neutral position-fixed bottom-20 end-0 m-3" title="Retour en haut">
		<i class="fa-solid fa-arrow-up"></i>
	</button>

{% endblock %}
