@import url('./global.css');
@import url('./buttons.css');
@import url('./scroll-buttons.css');
@import url('./header.css');
@import url('./cards.css');
@import url('./forms.css');
@import url('./comments.css');
@import url('./pagination.css');
@import url('./responsive.css');
@import url('./figure-detail.css');