body {
  background-color: #fffaf0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", Arial, sans-serif;
  letter-spacing: 1px;
}

.h1-small {
  font-size: 1.5rem; /* Ajuste la taille selon ton besoin */
  font-weight: 600; /* Facultatif si tu veux épaissir légèrement le texte */
}

.hr-deco {
  width: 200px;
  border-top: 3px solid #444;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.no-underline {
  text-decoration: none;
}
.no-underline:hover,
.no-underline:focus {
  text-decoration: none;
}
